*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    color: white;
}
p
{
    align-items: center;
    color: greenyellow;
    font-size: 30px;
}