*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 90vw;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background: rosybrown;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#items
{
    background: teal;
    height: 500px;
    width: 15%;
    border-radius: 20px;
}

.active
{
    background-color: steelblue;
}